[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-babbage
Exec=harbour-babbage
Name=Babbage

[X-Sailjail]
Permissions=UserDirs
OrganizationName=rabauke
ApplicationName=harbour-babbage
