[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-babbage
Exec=harbour-babbage
Name=Babbage
Name[dk]=Computer
Name[de]=Rechner
Name[en]=Calculator
Name[es]=Calculadora
Name[fr]=Calculatrice
Name[it]=Calcolatrice
Name[no]=Regnemaskin
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[fi]=Tietokone
Name[se]=Dator
Name[ru]=Калькуля́тор

[X-Sailjail]
Permissions=UserDirs
OrganizationName=rabauke
ApplicationName=harbour-babbage
